html {
    overflow-y: scroll;
}

* {
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: white;
}

/* ......Background styling and overall font..... */
body {
    background-image: url("../img/bg_cropped.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/* Center all content in DIVs */
.centerContentInDiv {
    margin-top: 2%;
    margin-bottom: 2%;
}

/*...... Picture Link styling.......*/
a {
    color: white;
    font-weight: bold;
    font-size: 18px;
}
a:hover {
    color: white;
    text-decoration: none;
}
a:link, a:visited{
    text-decoration: none;
    color: white;
}

.image {
    border-radius: 50%;
    transition: .5s ease;
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}

#picture:hover .overlay{
    opacity: 0.6;
}

.overlay {
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    padding-top: 50%;
    padding-bottom: 50%;
    text-align: center;
    color: white;
    background-color: black;
}

/* Tabs styling */
.tabs {
    padding: 0px;
}

.tab {
    display: inline-block;
    background: rgba(0,0,0,0.35);
    padding: 5px;
    cursor: pointer;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-left: 3px solid rgb(235,89,100);
    transition: .5s ease;
}

.tab:hover {
    background: rgba(255,242,211,0.5);
}

.tab.active:hover {
   background: rgba(255,242,211,0.5);
}

#tab-portfolio {
    width: 80px;
}

/*.......... Main content Styling.......... */
.body-content {
    padding: 20px;
}

.info {
    margin-top: 36px;
    text-align: center;
}

.info > h2 {
    color: rgb(229,228,234);
    font-size: 20px;
}

h1 {
    color: rgb(255,242,211);
    font-size: 20px;
    padding-top: 0px;
}

/* ..................Card styling..................... */
.xpAndEdu, .card, .smallCard, #qualities, #portfolioCard {
    background-color: rgba(4,7,15,0.5);
    border-left: 3px solid rgb(235,89,100);
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 3px;
}

.card, .smallCard {
    width: 32.33%;
    margin-right: 0.5%;
    margin-left: 0.5%;
    margin-bottom: 12px;
    margin-top: 0px;
    padding-top: auto;
    padding-bottom: auto;
    float: left;
    text-align: center;
    border-radius: 3px;
}
.smallCard {
    width: 49%;
}

#qualities {
    width: 30%;
}

#titleOfSection {
    clear: both;
    margin-top: 10px;
}

.display {
    margin-bottom: 25px;
    padding: 15px;
    padding-top: 0px;
}

#mainBlock {
    background: rgba(4,7,15,0.35);
    position: absolute;
    border-radius: 5px;
    border-top-left-radius: 0px;
    transition: 0.5s ease;
    background-image: url("../img/embrace_beeldmerk_translucent.png");
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: darken;
}

#picture {
    float: right;
    position: relative;
}

#name {
    font-size: 25px;
    color: rgb(255,242,211);
    width: 100%;
    text-align: center;
}
#jobTitle {
    width: 100%;
    text-align: center;
}
#qualities {
    clear: left;
}

.portfolio {
    display: none;
}

.repo {
    margin-bottom: 25px;
}

.repo:after {
    content: "";
    display: block;
    margin: 0 auto; 
    margin-left: 50px;
    width: 50%;
    padding-top: 20px; 
    border-bottom: 1px solid lightgrey;
}

/*............. Media queries..................*/

/* Extra small devices (iPhone 4 etc) */
@media (max-width: 575.98px){ 
 .card, .smallCard {
        height: auto;
        width: 49%;
    }
 .contactCard {
    width: 98%;
    }
 #picture {
    float: none;
    margin: 15px;
 }
 #qualities {
     width: 100%;
     text-align: center;
 }
 }

/* Small devices (lanscape phones) */
@media (max-width: 767.98px){
    body {
        background-size: 375%;
    }
}

/* Medium devices (tablets) */
@media (max-width: 991.98px){
    
}

/* Large devices (laptops, desktops) */
@media (min-width: 992px){
    body {
        background-size: 148%;
    }
}