html {
    overflow-y: scroll;
}

* {
    font-family: Arial, Arial, Helvetica, sans-serif;
}

#everything {
    visibility: hidden;
}

body {
    background-image: url("../img/bg_cropped.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-weight: 500;
    color: white;
    /* visibility: hidden; */
}

img {
    border-radius: 50%;
    transition: .5s ease;
}

img:hover {
    filter: blur(3px);
    opacity: 0.9;
    transition: .5s ease;
}
.hoverText {
    visibility: hidden;
}
.hoverText:hover {
    visibility: visible;
    transition: 0.5s ease;
}

.body-content {
    padding: 20px;
}

.info {
    margin-top: 36px;
    text-align: center;
}

.info > h2 {
    color: rgb(229,228,234);
    font-size: 22px;
}

h1 {
    color: rgb(255,242,211);
    font-size: 20px;
    padding-top: 20px;
}

.body {
    margin-top: 25px;
    position: relative;
}

.xpAndEdu, .card, .smallCard{
    background-color: rgba(4,7,15,0.5);
    border-left: 2px solid rgb(235,89,100);
    margin-top: 4px;
    margin-bottom: 4px;
    padding: 13px;
}

.card, .smallCard {
    width: 32.33%;
    height: 50px;
    margin-right: 0.5%;
    margin-left: 0.5%;
    padding-top: auto;
    padding-bottom: auto;
    float: left;
    text-align: center;
}

.smallCard {
    width: 49%;
}

#titleOfSection {
    clear: both;
    margin-top: 10px;
}

.display {
    margin-bottom: 25px;
    padding: 25px;
}

#mainBlock {
    background: rgba(4,7,15,0.35);
}

#picture {
    float: right;
}

#name {
    font-size: 25px;
    color: rgb(255,242,211);
}

.portfolio {
    display: none;
}

.repo {
    margin-bottom: 25px;
}

.repo:after {
    content: "";
    display: block;
    margin: 0 auto; 
    margin-left: 50px;
    width: 50%;
    padding-top: 20px; 
    border-bottom: 1px solid lightgrey;
}

/* Media queries */

/* Extra small devices (iPhone 4 etc) */
    @media (max-width: 575.98px){ 
    .card, .smallCard {
            height: 60px;
            width: 48%;
            padding-top: 20px;
        }
    .contactCard {
        width: 98%;
        }
    }
    body{
        background-size: 230%;
    }

/* Small devices (lanscape phones) */
@media (max-width: 767.98px){
    body {
        background-size: 375%;
    }
}

/* Medium devices (tablets) */
@media (max-width: 991.98px){
    
}

/* Large devices (laprops, desktops) */
@media (min-width: 992px){
    body {
        background-size: 200%;
    }
}