/* Modified Bootstrap */
.container {
    border-radius: 0px;
}
.jumbotron {
    margin-bottom: 0px;
    border-radius: 0px;
}

/* My own custom CSS */
* {
    border-radius: 0 !important;
  }

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.cvCanvas {
    width: 100%;
    height: 300px;
}
.centerDiv {
    margin-top: 5%;
    margin-bottom: 5%;
}
.bigCard {
    /* border: 1px solid black; */
    background-color: cadetblue;
}
.smallCard {
    /* border: 1px solid black; */
    background-color: cadetblue;
}
.noRoundedCorner {
    border-radius: 0px;
}